<h1><%= image_tag "budzet_domowy_logo.png" %></h1>
<h2>
<%= link_to 'Przychody', controller: 'incomes' %>
<%= link_to 'Wydatki', controller: 'outgoings' %>
<%= link_to 'Kategorie', controller: 'categories' %>
</h2>
<footer>
<%= link_to 'Panel administratora', "/admin"%>
</footer>