<h1>Lista Przychodów</h1>

<h2><%= link_to 'Nowy Przychód', new_income_path %></h2>
 
<div style="overflow-x:auto;">
 
<table class="center">
  <tr>
    <th><%= sortable "title", "Tytuł" %></th>
    <th><%= sortable "text", "Opis" %></th>
    <th><%= sortable "amount", "Kwota" %></th>
	<th><%= sortable "category_id", "Kategoria" %></th>
	<th colspan="3"></th>
  </tr>
 
  <% @incomes.each do |income| %>
    <tr>
      <td><%= income.title %></td>
      <td><%= income.text %></td>
	  <td><%= number_to_currency(income.amount, :unit => "zł", :format => "%n %u") %></td>
	  <td><%= Category.find(income.category_id).name %></td>
      <td><%= link_to 'Pokaż', income_path(income) %></td>
	  <td><%= link_to 'Edytuj', edit_income_path(income) %></td>
	  <td><%= link_to 'Usuń', income_path(income),
              method: :delete,
              data: { confirm: 'Czy na pewno chcesz usunąć ten wpis?' } %></td>
    </tr>
  <% end %>
</table>

</div>

<%= pie_chart Income.joins(:category).group(:name).sum(:amount),suffix: " zł", thousands: ",", messages: {empty: "Nie ma wpisów"}, download: {filename: "wykres"}, title: "Podział przychodów na kategorie" %>

<footer><%= link_to 'Strona główna', controller: 'welcome' %></footer>